<div class="row">
    <div class="col s12 push-l3 push-m2 headline">
        <h2>Make a <span><i class="fas fa-hamburger"></i></span>, Eat da <span><i class="fas fa-hamburger"></i></span></h2>
    </div>
</div>

<div class="row">
    <div class="container col s6">
        <div class="ready">
            <h3>Burgs Ready</h3>

            <ul>
                {{#each dbBurger}}
                    {{#unless devoured}}
                        <div class="availBurgs">
                            <li>
                                <form value={{id}} class="id burgers">
                                    <h6>{{name}}</h6>
                                </form>
                                <button type="submit" class="eat waves-effect waves-light btn-small amber darken-4" value={{id}} data-devour={{devoured}}>EAT THE BURGER</button>
                            </li>
                            <br>
                        </div>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="container col s6">
        <div class="eated">
            <h3>Burgs been eated</h3>

            <ul>
                {{#each dbBurger}}
                    {{#if devoured}}
                        <div class="eatedBurgs">
                            <li class="ate"><h6>{{name}}<h6></h6></li>
                        </div>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="row add">
    <div class="container">
        <h3>Add Burg</h3>

        <form class="add-form">
            <div class="form-group">
                <label for="burger-entry" class="burger-form">Make Burg</label>
                <input type="text" id="burger-entry" name="name">
            </div>

            <button type="submit" class="make waves-effect waves-light btn red darken-1">Burder Ready!</button>
        </form>
    </div>
</div>