<h1>Make a Burder, Eat a Burder</h1>

<h2>Available Burgs</h2>

<ul>
    {{#each dbBurger}}
        {{#unless devoured}}
            <div class="availBurgs">
                <li>
                    <form value={{id}} class="id">
                        {{name}}
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="eat" value={{id}} data-devour={{devoured}}>EAT THE BURGER</button>
                    </form>
                </li>
            </div>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burders been eated</h2>

<ul>
    {{#each dbBurger}}
        {{#if devoured}}
            <div class="eatedBurgs">
                <li>{{name}}</li>
            </div>
        {{/if}}
    {{/each}}
</ul>

<h2>Add Burg</h2>

<form class="add-form">
    <div class="form-group">
        <label for="burger-entry">Make Burg</label>
        <input type="text" id="burger-entry" name="name">
    </div>

    <button type="submit" class="make">Burder Ready!</button>
</form>